---
Checks: "*,
  -*-array*-decay,
  -*-avoid-c-arrays,
  -*-magic-numbers,
  -*-use-auto,
  -*-vararg,
  -altera-*,
  -android-*,
  -boost-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -clang-analyzer-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-statically-constructed-objects,
  -llvmlibc-*,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -objc-*,
  -openmp-*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -zircon-*"
WarningsAsErrors: true
HeaderFilterRegex: ""
FormatStyle: file
User: ""
