// Copyright 2020 Benbuck Nason
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include <winres.h>
#include <CommCtrl.h>

#include "AppName.h"
#include "Resource.h"

#define APP_VERSION 0,3,0,0
#define APP_VERSION_STRING "0.3.0.0"
#define APP_VERSION_STRING_SIMPLE "0.3"
#define APP_DATE "2025-03-13"
#define APP_COPYRIGHT "Copyright 2020 Benbuck Nason"

IDI_FINESTRAY ICON "Finestray.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDB_APP BITMAP app.bmp
IDB_MINIMIZE BITMAP minimize.bmp
IDB_RESTORE BITMAP restore.bmp
IDB_SETTINGS BITMAP settings.bmp
IDB_EXIT BITMAP exit.bmp

STRINGTABLE
BEGIN
    IDS_MENU_MINIMIZE_ALL            "Minimize All"
    IDS_MENU_RESTORE_ALL             "Restore All"
    IDS_MENU_SETTINGS                "Settings"
    IDS_MENU_EXIT                    "Exit"
    IDS_ABOUT_CAPTION                "About " APP_NAME
    IDS_ABOUT_TEXT                   APP_NAME "\nVersion " APP_VERSION_STRING_SIMPLE ", updated " APP_DATE "\nhttps://github.com/benbuck/finestray\n\nThis program is distributed under the Apache License,\nVersion 2.0.\n\n" APP_COPYRIGHT
    IDS_COLUMN_INDEX                 ""
    IDS_COLUMN_EXECUTABLE            "Executable"
    IDS_COLUMN_WINDOW_CLASS          "Window Class"
    IDS_COLUMN_WINDOW_TITLE          "Window Title"
    IDS_COLUMN_TRAY_EVENT            "Tray Event"
    IDS_COLUMN_MINIMIZE_PERSISTENCE  "Persist"
    IDS_TRAY_EVENT_OPEN              "Open"
    IDS_TRAY_EVENT_MINIMIZE          "Minimize"
    IDS_TRAY_EVENT_OPEN_AND_MINIMIZE "Open and Minimize"
    IDS_MINIMIZE_PERSISTENCE_NEVER   "Never"
    IDS_MINIMIZE_PERSISTENCE_ALWAYS  "Always"
    IDS_ERROR_INIT_COM               "Failed to initialize COM"
    IDS_ERROR_INIT_COMMON_CONTROLS   "Failed to initialize common controls"
    IDS_ERROR_REGISTER_WINDOW_CLASS  "Error creating window class"
    IDS_ERROR_CREATE_WINDOW          "Error creating window"
    IDS_ERROR_PARSE_HOTKEY           "Couldn't parse hotkey"
    IDS_ERROR_REGISTER_HOTKEY        "Couldn't register hotkey"
    IDS_ERROR_PARSE_MODIFIER         "Couldn't parse modifier"
    IDS_ERROR_PARSE_REGEX            "Couldn't parse regex"
    IDS_ERROR_REGISTER_MODIFIER      "Couldn't register modifier"
    IDS_ERROR_REGISTER_EVENTHOOK     "Couldn't register event hook"
    IDS_ERROR_CREATE_TRAY_ICON       "Couldn't create tray icon"
    IDS_ERROR_CREATE_MENU            "Error creating menu"
    IDS_ERROR_CREATE_DIALOG          "Failed to create dialog window"
    IDS_ERROR_LOAD_SETTINGS          "Failed to load settings"
    IDS_ERROR_SAVE_SETTINGS          "Failed to save settings"
END

IDD_DIALOG_SETTINGS DIALOGEX 0, 0, 450, 334
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Finestray Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_FINESTRAY, IDI_FINESTRAY, 420, 5, 0, 0

    CHECKBOX        "Start with Windows", IDC_START_WITH_WINDOWS, 13, 5, 81, 12, BS_AUTOCHECKBOX | BS_RIGHTBUTTON | BS_RIGHT | WS_TABSTOP
    CHECKBOX        "Enable log file", IDC_LOG_TO_FILE, 110, 5, 71, 12, BS_AUTOCHECKBOX | BS_RIGHTBUTTON | BS_RIGHT | WS_TABSTOP

    LTEXT           "Minimize placement", IDC_STATIC, 15, 24, 67, 8, SS_RIGHT | WS_GROUP
    AUTORADIOBUTTON "Tray", IDC_MINIMIZE_PLACEMENT_TRAY, 86, 23, 40, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Menu", IDC_MINIMIZE_PLACEMENT_MENU, 126, 23, 40, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Tray and Menu", IDC_MINIMIZE_PLACEMENT_TRAY_AND_MENU, 170, 23, 80, 12, BS_AUTORADIOBUTTON | WS_TABSTOP

    LTEXT           "Minimize Hotkey", IDC_STATIC, 15, 43, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_MINIMIZE, 86, 41, 135, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Restore Hotkey", IDC_STATIC, 235, 43, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_RESTORE, 306, 41, 135, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP

    LTEXT           "Minimize All Hotkey", IDC_STATIC, 15, 61, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_MINIMIZE_ALL, 86, 59, 135, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Restore All Hotkey", IDC_STATIC, 235, 61, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_RESTORE_ALL, 306, 59, 135, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP

    LTEXT           "Menu Hotkey", IDC_STATIC, 15, 79, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_MENU, 86, 77, 135, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Override Hotkey", IDC_STATIC, 235, 79, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_MODIFIER_OVERRIDE, 306, 77, 135, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP

    GROUPBOX        "Auto-tray windows", IDC_STATIC, 5, 97, 440, 211
    CONTROL         "", IDC_AUTO_TRAY_LIST, WC_LISTVIEWA, LVS_NOSORTHEADER | LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP, 9, 109, 430, 89

    LTEXT           "Window Class", IDC_STATIC, 10, 204, 62, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_AUTO_TRAY_EDIT_WINDOWCLASS, 76, 202, 364, 14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Executable", IDC_STATIC, 10, 222, 62, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_AUTO_TRAY_EDIT_EXECUTABLE, 76, 220, 364, 14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Window Title", IDC_STATIC, 10, 240, 62, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_AUTO_TRAY_EDIT_WINDOWTITLE, 76, 238, 364, 14, ES_AUTOHSCROLL | WS_TABSTOP

    LTEXT           "Tray Event", IDC_STATIC, 10, 259, 62, 8, SS_RIGHT | WS_GROUP
    AUTORADIOBUTTON "Open", IDC_AUTO_TRAY_EVENT_OPEN, 76, 258, 50, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Minimize", IDC_AUTO_TRAY_EVENT_MINIMIZE, 126, 258, 50, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Open and Minimize", IDC_AUTO_TRAY_EVENT_OPEN_AND_MINIMIZE, 183, 258, 100, 12, BS_AUTORADIOBUTTON | WS_TABSTOP

    LTEXT           "Tray Persistence", IDC_STATIC, 10, 273, 62, 8, SS_RIGHT | WS_GROUP
    AUTORADIOBUTTON "Never", IDC_AUTO_TRAY_PERSIST_NEVER, 76, 272, 50, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Always", IDC_AUTO_TRAY_PERSIST_ALWAYS, 126, 272, 50, 12, BS_AUTORADIOBUTTON | WS_TABSTOP

    PUSHBUTTON      "Update", IDC_AUTO_TRAY_ITEM_UPDATE, 75, 289, 50, 12
    PUSHBUTTON      "Add", IDC_AUTO_TRAY_ITEM_ADD, 128, 289, 50, 12
    PUSHBUTTON      "Delete", IDC_AUTO_TRAY_ITEM_DELETE, 181, 289, 50, 12

    LTEXT           "Spy (drag this):", IDC_STATIC, 368, 291, 50, 12
    ICON            "",IDC_AUTO_TRAY_ITEM_SPY, 420, 286, 20, 20, SS_NOTIFY

    PUSHBUTTON      "Help", IDC_HELP_PAGE, 10, 315, 50, 14
    PUSHBUTTON      "About", IDC_ABOUT, 64, 315, 50, 14
    PUSHBUTTON      "Reset", IDC_RESET, 118, 315, 50, 14
    PUSHBUTTON      "Exit", IDC_EXIT, 172, 315, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 335, 315, 50, 14
    DEFPUSHBUTTON   "OK", IDOK, 389, 315, 50, 14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    APP_VERSION
 PRODUCTVERSION APP_VERSION
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", APP_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
