// Copyright 2020 Benbuck Nason
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include <winres.h>
#include <CommCtrl.h>

#include "AppName.h"
#include "Resource.h"

#define APP_VERSION 0,2,0,0
#define APP_VERSION_STRING "0.2.0.0"
#define APP_VERSION_STRING_SIMPLE "0.2"
#define APP_DATE "2025-03-01"
#define APP_COPYRIGHT "Copyright 2020 Benbuck Nason"

IDI_FINESTRAY ICON "Finestray.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDB_APP BITMAP app.bmp
IDB_RESTORE BITMAP restore.bmp
IDB_SETTINGS BITMAP settings.bmp
IDB_EXIT BITMAP exit.bmp

STRINGTABLE
BEGIN
    IDS_MENU_RESTORE_ALL            "Restore All"
    IDS_MENU_SETTINGS               "Settings"
    IDS_MENU_EXIT                   "Exit"
    IDS_ABOUT_CAPTION               "About " APP_NAME
    IDS_ABOUT_TEXT                  APP_NAME "\nVersion " APP_VERSION_STRING_SIMPLE ", updated " APP_DATE "\nhttps://github.com/benbuck/finestray\n\nThis program is distributed under the Apache License,\nVersion 2.0.\n\n" APP_COPYRIGHT
    IDS_COLUMN_INDEX                ""
    IDS_COLUMN_EXECUTABLE           "Executable"
    IDS_COLUMN_WINDOW_CLASS         "Class"
    IDS_COLUMN_WINDOW_TITLE         "Title"
    IDS_SPY_MODE_TITLE              "Spy Mode"
    IDS_SPY_MODE_TEXT               "Spy mode activated, click on any window to retrieve its information."
    IDS_ERROR_INIT_COM              "Failed to initialize COM"
    IDS_ERROR_INIT_COMMON_CONTROLS  "Failed to initialize common controls"
    IDS_ERROR_REGISTER_WINDOW_CLASS "Error creating window class"
    IDS_ERROR_CREATE_WINDOW         "Error creating window"
    IDS_ERROR_PARSE_HOTKEY          "Couldn't parse hotkey"
    IDS_ERROR_REGISTER_HOTKEY       "Couldn't register hotkey"
    IDS_ERROR_PARSE_MODIFIER        "Couldn't parse modifier"
    IDS_ERROR_REGISTER_MODIFIER     "Couldn't register modifier"
    IDS_ERROR_REGISTER_EVENTHOOK    "Couldn't register event hook"
    IDS_ERROR_CREATE_TRAY_ICON      "Couldn't create tray icon"
    IDS_ERROR_CREATE_MENU           "Error creating menu"
    IDS_ERROR_CREATE_DIALOG         "Failed to create dialog window"
    IDS_ERROR_LOAD_SETTINGS         "Failed to load settings"
    IDS_ERROR_SAVE_SETTINGS         "Failed to save settings"
END

IDD_DIALOG_SETTINGS DIALOGEX 0, 0, 420, 297
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Finestray Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_FINESTRAY, IDI_FINESTRAY, 390, 5, 0, 0

    CHECKBOX        "Start with Windows", IDC_START_WITH_WINDOWS, 9, 5, 81, 12, BS_AUTOCHECKBOX | BS_RIGHTBUTTON | BS_RIGHT | WS_TABSTOP
    CHECKBOX        "Enable log file", IDC_LOG_TO_FILE, 89, 5, 81, 12, BS_AUTOCHECKBOX | BS_RIGHTBUTTON | BS_RIGHT | WS_TABSTOP

    LTEXT           "Minimize placement", IDC_STATIC, 10, 24, 67, 8, SS_RIGHT | WS_GROUP
    AUTORADIOBUTTON "Tray", IDC_MINIMIZE_PLACEMENT_TRAY, 81, 23, 40, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Menu", IDC_MINIMIZE_PLACEMENT_MENU, 121, 23, 40, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
    AUTORADIOBUTTON "Tray and Menu", ICC_MINIMIZE_PLACEMENT_TRAY_AND_MENU, 161, 23, 80, 12, BS_AUTORADIOBUTTON | WS_TABSTOP

    LTEXT           "Minimize Hotkey", IDC_STATIC, 10, 43, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_MINIMIZE, 81, 41, 120, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Restore Hotkey", IDC_STATIC, 220, 43, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_RESTORE, 291, 41, 120, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP

    LTEXT           "Restore All Hotkey", IDC_STATIC, 10, 61, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_RESTORE_ALL, 81, 59, 120, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Menu Hotkey", IDC_STATIC, 220, 61, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_HOTKEY_MENU, 291, 59, 120, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP

    LTEXT           "Override Hotkey", IDC_STATIC, 10, 79, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_MODIFIER_OVERRIDE, 81, 77, 120, 14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Poll Interval", IDC_STATIC, 220, 79, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_POLL_INTERVAL, 291, 77, 120, 14, ES_AUTOHSCROLL | ES_NUMBER | WS_TABSTOP

    GROUPBOX        "Auto-tray windows", IDC_STATIC, 5, 96, 410, 176
    CONTROL         "", IDC_AUTO_TRAY_LIST, WC_LISTVIEWA, LVS_NOSORTHEADER | LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP, 9, 108, 400, 89
    LTEXT           "Executable", IDC_STATIC, 10, 203, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_AUTO_TRAY_EDIT_EXECUTABLE, 81, 201, 329, 14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Window Class", IDC_STATIC, 10, 221, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_AUTO_TRAY_EDIT_WINDOWCLASS, 81, 219, 329, 14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Window Title", IDC_STATIC, 10, 239, 67, 8, SS_RIGHT | WS_GROUP
    EDITTEXT        IDC_AUTO_TRAY_EDIT_WINDOWTITLE, 81, 237, 329, 14, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "Update", IDC_AUTO_TRAY_ITEM_UPDATE, 80, 254, 50, 12
    PUSHBUTTON      "Add", IDC_AUTO_TRAY_ITEM_ADD, 133, 254, 50, 12
    PUSHBUTTON      "Delete", IDC_AUTO_TRAY_ITEM_DELETE, 186, 254, 50, 12
    PUSHBUTTON      "Spy", IDC_AUTO_TRAY_ITEM_SPY, 360, 254, 50, 12

    PUSHBUTTON      "Help", IDC_HELP_PAGE, 10, 278, 50, 14
    PUSHBUTTON      "About", IDC_ABOUT, 64, 278, 50, 14
    PUSHBUTTON      "Reset", IDC_RESET, 118, 278, 50, 14
    PUSHBUTTON      "Exit", IDC_EXIT, 172, 278, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 305, 278, 50, 14
    DEFPUSHBUTTON   "OK", IDOK, 359, 278, 50, 14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    APP_VERSION
 PRODUCTVERSION APP_VERSION
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", APP_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
