// Copyright 2020 Benbuck Nason
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include <winres.h>
#include <CommCtrl.h>

#include "AppName.h"
#include "Resource.h"

#define APP_VERSION 0,1,0,0
#define APP_VERSION_STRING "0.1.0.0"
#define APP_COPYRIGHT "Copyright 2020 Benbuck Nason"

IDI_MINTRAY ICON "MinTray.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_MENU_SETTINGS               "Settings"
    IDS_MENU_ABOUT                  "About"
    IDS_MENU_EXIT                   "Exit"
    IDS_ABOUT_CAPTION               "About " APP_NAME
    IDS_ABOUT_TEXT                  APP_NAME "\nVersion " APP_VERSION_STRING "\nhttps://github.com/benbuck/mintray\n\nThis program is distributed under the Apache License,\nVersion 2.0.\n\n" APP_COPYRIGHT
    IDS_COLUMN_INDEX                ""
    IDS_COLUMN_EXECUTABLE           "Executable"
    IDS_COLUMN_WINDOW_CLASS         "Class"
    IDS_COLUMN_WINDOW_TITLE         "Title"
    IDS_SPY_MODE_TITLE              "Spy Mode"
    IDS_SPY_MODE_TEXT               "Spy mode activated, click on any window to retrieve its information."
    IDS_ERROR_REGISTER_WINDOW_CLASS "Error creating window class"
    IDS_ERROR_CREATE_WINDOW         "Error creating window"
    IDS_ERROR_REGISTER_HOTKEY       "Couldn't register hotkey"
    IDS_ERROR_REGISTER_MODIFIER     "Couldn't register modifier"
    IDS_ERROR_REGISTER_EVENTHOOK    "Couldn't register event hook"
    IDS_ERROR_CREATE_TRAY_ICON      "Couldn't create tray icon"
    IDS_ERROR_CREATE_POPUP_MENU     "Error creating popup menu"
    IDS_ERROR_COMMAND_LINE          "Failed to parse command line options"
    IDS_ERROR_INIT_COMMON_CONTROLS  "Failed to initialize common controls"
    IDS_ERROR_CREATE_DIALOG         "Failed to create dialog window"
    IDS_ERROR_LOAD_SETTINGS         "Failed to load settings"
    IDS_ERROR_SAVE_SETTINGS         "Failed to save settings"
END

IDD_DIALOG_SETTINGS DIALOGEX 0, 0, 418, 290
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MinTray Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Minimize Hotkey",IDC_STATIC,10,9,52,8
    EDITTEXT        IDC_HOTKEY_MINIMIZE,61,7,349,14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Restore Hotkey",IDC_STATIC,10,27,52,8
    EDITTEXT        IDC_HOTKEY_RESTORE,61,25,349,14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Override Modifier",IDC_STATIC,10,45,52,8
    EDITTEXT        IDC_MODIFIER_OVERRIDE,61,43,349,14, ES_AUTOHSCROLL | ES_LOWERCASE | WS_TABSTOP
    LTEXT           "Poll Interval",IDC_STATIC,10,63,52,8
    EDITTEXT        IDC_POLL_INTERVAL,61,61,349,14, ES_AUTOHSCROLL | ES_NUMBER | WS_TABSTOP
    LTEXT           "Auto-tray windows",IDC_STATIC,10,83,51,8
    CONTROL         "", IDC_AUTO_TRAY_LIST, WC_LISTVIEWA, LVS_NOSORTHEADER | LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP, 9,95,400,89
    LTEXT           "Executable",IDC_STATIC,10,190,52,8
    EDITTEXT        IDC_AUTO_TRAY_EDIT_EXECUTABLE,61,188,349,14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Window Class",IDC_STATIC,10,208,52,8
    EDITTEXT        IDC_AUTO_TRAY_EDIT_WINDOWCLASS,61,206,349,14, ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Window Title",IDC_STATIC,10,226,52,8
    EDITTEXT        IDC_AUTO_TRAY_EDIT_WINDOWTITLE,61,224,349,14, ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "Update",IDC_AUTO_TRAY_ITEM_UPDATE,60,241,50,12
    PUSHBUTTON      "Add",IDC_AUTO_TRAY_ITEM_ADD,110,241,50,12
    PUSHBUTTON      "Delete",IDC_AUTO_TRAY_ITEM_DELETE,160,241,50,12
    PUSHBUTTON      "Spy",IDC_AUTO_TRAY_ITEM_SPY,360,241,50,12

    PUSHBUTTON      "Cancel",IDCANCEL,305,268,50,14
    DEFPUSHBUTTON   "OK",IDOK,359,269,50,14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    APP_VERSION
 PRODUCTVERSION APP_VERSION
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", APP_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
