// Copyright 2020 Benbuck Nason

#include <winres.h>

#include "Resource.h"

#define APP_NAME "MinTray"
#define APP_VERSION 0,1,0,0
#define APP_VERSION_STRING "0.1.0.0"
#define APP_COPYRIGHT "Copyright 2020 Benbuck Nason"

IDI_MINTRAY ICON "MinTray.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_MENU_ABOUT                  "About"
    IDS_MENU_EXIT                   "Exit"
    IDS_ABOUT_CAPTION               "About " APP_NAME
    IDS_ABOUT_TEXT                  APP_NAME "\nVersion " APP_VERSION_STRING "\nhttps://github.com/benbuck/mintray\n\nThis program is distributed under the ISC License.\n" APP_COPYRIGHT
    IDS_ERROR_REGISTER_WINDOW_CLASS "Error creating window class"
    IDS_ERROR_CREATE_WINDOW         "Error creating window"
    IDS_ERROR_REGISTER_HOTKEY       "Couldn't register hotkey"
    IDS_ERROR_CREATE_TRAY_ICON      "Couldn't create tray icon"
    IDS_ERROR_CREATE_POPUP_MENU     "Error creating popup menu"
    IDS_ERROR_COMMAND_LINE          "Failed to parse command line options"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    APP_VERSION
 PRODUCTVERSION APP_VERSION
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", APP_NAME
            VALUE "LegalCopyright", APP_COPYRIGHT
            VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
